@page "/Products"
@using Models

<h1>Produtos</h1>


@if (products == null)
{
    <text>Nenhum Cliente foi cadastrado no banco de dados</text>
}
else
{
    <div class="row">
        <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nº Produto</th>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Categoria</th>
                        <th>Ano</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in products)
                    {
                    <tr>
                        <td>@product.ProductId</td>
                        <td>@product.ProductName</td>
                        <td>@product.BrandId</td>
                        <td>@product.CategoryId</td>
                        <td>@product.ModelYear</td>
                        <td>@product.ListPrice</td>
                        <td>
                            <button class="btn btn-danger" @onclick="@(() => DeleteProduct(product.ProductId))">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code{
    complementar20201Context db = new complementar20201Context();

    private List<Products> products;
    private List<Brands> brands;

    protected override void OnInitialized()
    {
        products = db.Products.ToList();
        brands = db.Brands.ToList();
    }
    private async Task DeleteProduct(int Id)
    {

    }
}
