@page "/"
@using Models

<h1>Hello, world!</h1>

<div class="row">
    <div class="col-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Model Year</th>
                    <th>List Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.ProductId</td>
                        <td>@product.ProductName</td>
                        <td>@product.BrandId</td>
                        <td>@product.CategoryId</td>
                        <td>@product.ModelYear</td>
                        <td>@product.ListPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@code{
    complementar20201Context db = new complementar20201Context();

    private List<Products> products;

    protected override void OnInitialized()
    {
        products = db.Products.ToList();
    }
}
